@model GerenciadorDespesas.Models.Despesa

@{
    ViewData["Title"] = "Nova Despesa";
}

<div class="formulario">
    <h6>Despesa</h6>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" class="form border rounded">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="MesId" class="control-label"></label>
                    <select asp-for="MesId" class="form-control" asp-items="ViewBag.MesId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="TipoDespesaId" class="control-label"></label>
                    <div class="input-group">
                        <select asp-for="TipoDespesaId" class="form-control" asp-items="ViewBag.TipoDespesaId"></select>
                        <div class="input-group-append">
                            <button type="button" class="btn btn-outline-info" data-toggle="tooltip" data-placement="right" title="Adicionar novo tipo de despesa" onclick="MostrarModal()">
                                <i class="far fa-plus-square"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Valor" class="control-label"></label>
                    <input asp-for="Valor" class="form-control" />
                    <span asp-validation-for="Valor" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Cadastrar" class="btn btn-outline-success btn-sm" />&nbsp;
                    <a asp-action="Index" class="btn btn-outline-dark btn-sm">Voltar</a>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Adicionar novo tipo despesa</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input class="form-control txtTipoDespesa" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary btn-sm btnAdicionar">Adicionar</button>
                <button type="button" class="btn btn-outline-danger btn-sm" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });

    function MostrarModal() {
        $(".modal").modal();

        $(".btnAdicionar").on('click', function () {
            var txtTipoDespesa = $(".txtTipoDespesa").val();

            $.ajax({
                url: "/TipoDespesas/AdicionarTipoDespesa",
                method: "POST",
                data: { txtTipoDespesa: txtTipoDespesa },
                success: function (data) {
                    if (!data) {
                        $(".modal").modal('hide');
                        $(".modal").modal('dispose');
                        $(".btnAdicionar").unbind('click');
                        $(".txtDespesa").val('');
                        alert("Tipo de despesa já cadastrado!");
                    }
                    else {
                        location.reload(true);
                    }
                }
            })
        });
    }
</script>
