@model GerenciadorDespesas.Models.ViewModels.Estatisticas

<div>
    <p>Despesas cadastradas: @Model.QuantidadeDespesas</p>
    <p>Menor despesa: @Model.MenorDespesa</p>
    <p>Maior despesa: @Model.MaiorDespesa</p>
</div>
